/// <reference include="../../utils/_variables.scss">

// Titles
@mixin title {
    font-size: $title-size;
}

// Bold text
@mixin bold {
    font-weight: $font-bold;
}

// Buttons
@mixin button {
    .button-container {
        .button {
            border-radius: $btn-border-radius;
            background-color: $black;
            color: $off-white;
        }
    }
}

@mixin button__dark-mode {
    .button-container {
        .button {
            background-color: $white;
            color: $black;
        }
    }
}
